html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Verdana, Geneva, sans-serif';
}

body, h1, h2, h3 {
  font-weight: 300;
  background-color: #F0F0F0;
}

.padding-top-100 {
  padding-top: 100px;
}

.flex-1 {
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 20;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  .btn-group{
    a {
      color: #3F506F;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
    }

    .btn {
      display: inline-block;
      font-weight: 400;
      line-height: 4;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 1.3rem;
      border-radius: .25rem;
      transition: all .2s ease-in-out;
    }

    .btn.focus, .btn:focus {
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }

    .btn.active {
      font-weight: bold;
    }

  }
}

.header-transparent {
  z-index: 20;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  .btn-group{
    a {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
    }

    .btn {
      display: inline-block;
      font-weight: 400;
      line-height: 4;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .5rem 1rem;
      font-size: 1.3rem;
      border-radius: .25rem;
      transition: all .2s ease-in-out;
    }
    .btn.focus, .btn:focus {
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }

    .btn.active {
      font-weight: bold;
    }

  }
}

.header-logo {
  margin-left: 35px;
  max-width: 200px;
  max-height: 100px;
}

.sub-title {
  display: block;
  font-size: 1.0rem;
  line-break: normal;
}

.media-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .video-text {
    font-size: 1.5em;
    position: absolute;
    z-index: 5;
    color: #F0F0F0;
    top: 71%;
    left: 24%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.tetra-schema {
  min-height: 700px;
}

/*blog*/
.blog-card {
  margin: 10px;
  padding: 0;
  img {
    max-width: 100%;
    object-fit: cover;
  }
  p {
    padding: 20px;
    text-align: center;
    overflow: hidden;
    max-height: 8.6em;
    line-height: 1.8em;
  }
  max-height: 440px;
  background-color: #ffffff;
}



.footer {
  background-color: #3F506F;
  color: white;
  .info {
    font-size: 1rem;
    text-align: center;
    padding-top: 23px;
    padding-left: 10px;
    p {
      margin-bottom: 3px;
    }
  }
}


/* Generic settings */
.p-all-0 {
  padding: 0 !important;
}

.text-white-center {
  align-text: center;
  padding: 5px;
  color: #ffffff;
}

.font-13 {
  font-size: 1.3em;
}


.p-top-100 {
  padding-top: 100px !important;
}
